#header-menu-toggle-menu.toggle-menu.header-toggle-menu-menu.hidden-desktop

  = link_to "/" do
    = icon_tag("home", ["icon-with-text"])
    = t("header.home")

  = link_to new_listing_path, :class => "hidden-tablet" do
    = icon_tag("new_listing", ["icon-with-text"])
    = t("homepage.index.post_new_listing")

  = link_to about_infos_path do
    = icon_tag("information", ["icon-with-text"])
    = t("header.about")

  = link_to new_user_feedback_path do
    = icon_tag("feedback", ["icon-with-text"])
    = t("header.contact_us")

  .hidden-desktop
    - with_available_locales do |locales|
      .toggle-menu-title
        = t("layouts.global-header.select_language")

      = render :partial => "layouts/locale_select", :collection => locales, :as => :loc_array
